Dear {{.Name}},

We are grateful that your system administrator has activated the privileges for your contribution on the project of "{{.Project}}". If you have questions about this change, please contact your system administrator at {{.Manager}}.

Have questions or need help? Just reply to this email and the {{.Org}} Community Support Team will help you sort it out.
