Dear {{.User}},

Your Legal entity CLA signing for the project[1] has been successfully completed. Please login to the CLA management system to set up your company/organization's CLA managers’ accounts as soon as possible.

Account Detail:
  Username: {{.Email}} or {{.ID}}
  Password: {{printf "%s" .Password}}

The CLA management system login URL is {{.URLOfCLAPlatform}}.

Have questions or need help? Just reply to this email and the {{.Org}} Community Support Team will help you sort it out.

[1]. {{.ProjectURL}}
