Dear {{.User}},

You are authorized by your company to manage the CLA signing of employees who will contribute to the project[1]. You will receive an email notification when an employee signs the CLA. Then you can login the CLA management system to accept or reject that CLA signing of employee.

Your Account:
  Username: {{.Email}}{{if .ID}} or {{.ID}}{{end}}
  Password: {{printf "%s" .Password}}

The CLA management system login URL is {{.URLOfCLAPlatform}}.

Have questions or need help? Just reply to this email and the {{.Org}} Community Support Team will help you sort it out.

[1]. {{.ProjectURL}}
