Dear {{.Name}},

Your CLA signing on the project[1] of "{{.Org}}" has been automatically approved. Your contribution privileges are now active. No further action is required from your corporation managers.

Have questions or need help? Just reply to this email and the {{.Org}} Community Support Team will help you sort it out.

[1]. {{.ProjectURL}}
