Dear manager,

An employee whose email is {{.EmployeeEmail}} of your company has signed the CLA on the project[1] of "{{.Org}}". Since the auto-approval preference is enabled, the employee's contribution privileges have been activated automatically. No action is required from you.

The CLA management system login URL:
  {{.URLOfCLAPlatform}}

Have questions or need help? Just reply to this email and the {{.Org}} Community Support Team will help you sort it out.

[1]. {{.ProjectURL}}
