Dear {{.AdminName}},

A new version of CLA is published. Please login to the CLA management system to see the details.

The CLA management system login URL:
  {{.URLOfCLAPlatform}}

Have questions or need help? Just reply to this email and the {{.Org}} Community Support Team will help you sort it out.

Address of the {{.Org}} Project:
  {{.ProjectURL}}
