Dear {{.AdminName}},

Your Legal entity CLA signing for the project[1] has been updated. Please login to the CLA management system to agree to the updated content of the agreement.

The CLA management system login URL is {{.URLOfCLAPlatform}}.

Have questions or need help? Just reply to this email and the {{.Org}} Community Support Team will help you sort it out.

[1]. {{.ProjectURL}}
