Dear {{.AdminName}},

Thanks for your interests on the project[1] of {{.Org}}!

We are pleased to inform you that your legal entity CLA signing submitted on {{.Date}} is accepted by community of "{{.Org}}". The attached PDF is the official CLA agreement with signature of community. Please make sure you totally agree with all the terms in the PDF. If you agree on the PDF, please sign it with your corporation certification and reply to us with the signed PDF.

The fields of CLA signed
{{.SigningInfo}}

The CLA content signed by the {{.AdminName}} is attached to the email.

Have questions or need help? Just reply to this email and the {{.Org}} Community Support Team will help you sort it out.

[1]. {{.ProjectURL}}
