Dear user,

We have received your email authorization request, Your email authorization verification code is

{{.Code}}

Please enter the authorization code in your email authorization interface.

Thank you for your attention and use of CLA,We will continue to provide better service to you.