Dear {{.Name}},

Thank you for signing the CLA on the project of "{{.Project}}". We have notified system administrator of your corporation to activate your contribution privileges. If you have not received an email about the activation for a long time, please contact one of your system administrators as following.

System Administrators:
{{.Managers}}

Have questions or need help? Just reply to this email and the {{.Org}} Community Support Team will help you sort it out.
