Dear user,

We have received your request to retrieve the password of the corporate manager account {{.Email}}.
your verification code is:

{{.Code}}

Please make sure that the retrieve password is what you are doing. If not, please ignore.