Dear user,

We have received your request to retrieve the password of the corporation manager account.
the verification code is:

{{.Code}}

Please make sure that this operation is what you are doing. If not, please ignore.