Dear user,

We have received your CLA signing request to the project[1] of "{{.Org}}" from {{.Email}}. Please make sure that the CLA signing is what you are doing. If so, please follow up on the signing page with the following verification code:

{{.Code}}

Have any questions or need help? Just reply to this email and the {{.Org}} Community Support Team will help you sort it out.

[1]. {{.ProjectURL}}
