感谢您对{{.Org}}项目[1]（以下简称“项目”）的关注。为澄清向任何个人或实体的贡献所授予的知识产权许可证，项目必须配备一份由每位贡献者签署的贡献许可协议（CLA，以下简称“协议”），以表明对以下许可条款的同意。本许可证用于保护作为贡献者的您、项目及其用户的权益，且不会改变您为任何其他目的使用自己的贡献的权利。

该协议版本允许实体（“公司”）向项目提交贡献，授权其指定雇员向项目提交贡献，并授予其相应的版权和专利许可。

如果您尚未签署协议，请填写并签署，然后扫描并发送协议的PDF文件至电子邮件{{.Email}}。签字前请仔细阅读本文件，并保留一份签字协议的副本。
